.addCourse {
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background: rgb(245, 245, 245);
    height: 20rem;
    width: 30rem;
    border-radius: 10px;
    h1 {
      font-size: 1.5rem;
    }
    .courseName {
      input {
        width: 15rem;
        border: none;
        background: transparent;
        border-radius: 0px;
        font-size: 1.2rem;
        padding-bottom: 5px;
        text-align: center;
        border-bottom: 1px solid black;
        transition: 0.2s;
      }
      input:focus {
        outline: none;
        border-bottom: 1px solid rgba(67, 242, 255, 0.671);
      }
    }
    .creditGrade {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 15rem;
      p {
        margin-bottom: 10px;
      }
      .credithour {
        .creditInput {
          color: rgb(167, 167, 167);
        }
        .active-creditInput {
          color: black;
        }
        input {
          width: 5rem;
          background: transparent;
          padding: 5px;
          font-size: 1.2rem;
          border: none;
          border-bottom: 1px solid black;
          text-align: center;
          transition: 0.2s;
        }
        input:focus {
          outline: none;

          color: black;
          border-bottom: 1px solid rgba(67, 242, 255, 0.671);
        }
      }
      .gradeinput {
        select {
          height: 2rem;
          padding: 5px;
          width: 2rem;
          font-size: 1rem;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid rgb(0, 0, 0);
          background: transparent;
          text-align: center;
          text-align-last: center;
          -moz-text-align-last: center;
          text-align: -webkit-center;
          -webkit-appearance: none;
          transition: 0.2s;
        }

        select:focus {
          outline: none;
          border-bottom: 1px solid rgba(67, 242, 255, 0.671);
        }
        .select {
          color: rgb(167, 167, 167);
        }
        .active-select {
          color: black;
        }
      }
    }
    button {
      width: 6rem;
      height: 2rem;
      font-size: 1.2rem;
      color: rgb(61, 61, 61);
      border: 1px solid rgba(67, 168, 226, 0.568);
      border-radius: 5px;
      background: rgba(215, 245, 253, 0.945);
      cursor: pointer;
      transition: 0.5s ease;
      outline: none;
    }
    button:hover {
      color: white;
      background: rgba(65, 122, 138, 0.945);
    }
  }
}
@media screen and (max-width: 940px) {
  .addCourse {
    form {
      margin-top: -8rem;
      width: 20rem;
      height: 17rem;
      button {
        margin-top: 1rem;
      }
    }
  }
}
@media screen and (max-width: 670px) {
  .addCourse {
    form {
      margin-top: -8rem;
      width: 20rem;
      height: 17rem;
      button {
        margin-top: 1rem;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background: rgb(245, 245, 245);
    height: 20rem;
    width: 30rem;
    border-radius: 10px;
    h1 {
      font-size: 1.5rem;
    }
    .courseName {
      input {
        width: 15rem;
        border: none;
        background: transparent;
        border-radius: 0px;
        font-size: 1.2rem;
        padding-bottom: 5px;
        text-align: center;
        border-bottom: 1px solid black;
        transition: 0.2s;
      }
      input:focus {
        outline: none;
        border-bottom: 1px solid rgba(67, 242, 255, 0.671);
      }
    }
    .creditGrade {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 15rem;
      p {
        margin-bottom: 10px;
      }
      .credithour {
        .creditInput {
          color: rgb(167, 167, 167);
        }
        .active-creditInput {
          color: black;
        }
        input {
          width: 5rem;
          background: transparent;
          padding: 5px;
          font-size: 1.2rem;
          border: none;
          border-bottom: 1px solid black;
          text-align: center;
          transition: 0.2s;
        }
        input:focus {
          outline: none;

          color: black;
          border-bottom: 1px solid rgba(67, 242, 255, 0.671);
        }
      }
      .gradeinput {
        select {
          height: 2rem;
          padding: 5px;
          width: 2rem;
          font-size: 1rem;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid rgb(0, 0, 0);
          background: transparent;
          text-align: center;
          text-align-last: center;
          -moz-text-align-last: center;
          text-align: -webkit-center;
          -webkit-appearance: none;
          transition: 0.2s;
        }

        select:focus {
          outline: none;
          border-bottom: 1px solid rgba(67, 242, 255, 0.671);
        }
        .select {
          color: rgb(167, 167, 167);
        }
        .active-select {
          color: black;
        }
      }
    }
    button {
      width: 6rem;
      height: 2rem;
      font-size: 1.2rem;
      color: rgb(61, 61, 61);
      border: 1px solid rgba(67, 168, 226, 0.568);
      border-radius: 5px;
      background: rgba(215, 245, 253, 0.945);
      cursor: pointer;
      transition: 0.5s ease;
      outline: none;
    }
    button:hover {
      color: white;
      background: rgba(65, 122, 138, 0.945);
    }
  }
}
@media screen and (max-width: 390px) {
  .addCourse {
    height: 100vh;
    form {
      padding: 15px;
      margin-top: -10rem;

      height: 33vh;
      width: 65vw;
      border-radius: 10px;

      h1 {
        font-size: 1.2rem;
        padding: 15px;
      }
      .courseName {
        input {
          width: 10rem;
          border-radius: 0px;
          font-size: 1.2rem;
          padding-bottom: 5px;
        }
      }
      .creditGrade {
        width: 110%;
        p {
          padding-top: 15px;
          padding-bottom: 5px;
        }
        .credithour {
          width: 55%;

          input {
            width: 5rem;
            padding: 5px;
            border-radius: 0px;
            font-size: 1.2rem;
          }
        }
        .gradeinput {
          width: 55%;
          select {
            height: 2rem;
            padding: 5px;
            width: 2rem;
            font-size: 1rem;
            border-radius: 0;
            border-bottom: 1px solid rgb(0, 0, 0);
          }
        }
      }
      button {
        position: absolute;
        width: 4rem;
        height: 1.5rem;
        right: 1rem;
        bottom: 1rem;
        font-size: 1rem;
        border-radius: 10px;
      }
    }
  }
}
