.classresult-body {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem 5px;
  border-bottom: 2px solid rgba(0, 185, 185, 0.377);
  p {
    width: 4rem;
  }
  #classResultGrade {
    margin-left: -1.3rem;
    padding: 0px 10px;
  }
  #classResultCredit {
    margin-right: 1.3rem;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 430px) {
  .classresult-body {
    display: flex;
    justify-content: space-between;

    padding: 0.5rem 5px;
    border-bottom: 2px solid rgba(0, 185, 185, 0.377);

    #classResultGrade {
      margin-left: -0.5rem;
      padding: 0px 10px;
    }
    #classResultCredit {
      width: 1.5rem;
      margin-right: 1rem;
    }
  }
}
@media screen and (max-width: 390px) {
  .classresult-body {
    padding: 0.5rem 5px;
    border-bottom: 2px solid rgba(0, 185, 185, 0.377);
    p {
      width: 4rem;
    }
    #classResultGrade {
      margin-left: -0.5rem;
      padding: 0px 10px;
    }
    #classResultCredit {
      width: 1.5rem;
      margin-right: 0rem;
    }
  }
}
