.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  .homeHeader {
    display: flex;
    width: 35vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    img {
      height: 60px;
      margin-bottom: 1rem;
    }
    h1 {
      color: #3d2929;
      font-size: 4rem;
      font-weight: 600;
      z-index: 1;
    }
    p {
      text-align: center;
      font-size: 1.5rem;
      color: rgb(56, 56, 56);
      font-family: "Roboto", sans-serif;
    }
  }
  .partition {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #378991;
    height: 70vh;
  }
}
@media screen and (max-width: 700px) {
  .home {
    .homeHeader {
      width: 30vw;
      img {
        height: 50px;
        margin-bottom: 1rem;
      }
      h1 {
        font-size: 4rem;
        font-weight: 600;
      }
      p {
        font-size: 1rem;
      }
    }
    .partition {
      height: 70vh;
    }
  }
}

@media screen and (max-width: 550px) {
  .home {
    .homeHeader {
      display: none;
    }
    .partition {
      display: none;
    }
  }
}
