.navigation-bar {
  min-height: 8vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #282828;
  z-index: 10;
  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  ul {
    display: flex;
    list-style: none;
    .gradeCount {
      display: none;
    }
  }
  li {
    padding: 0.5rem;
    font-size: 1rem;
    position: relative;
  }
  .cgpa101Logo {
    justify-content: center;
    svg {
      position: relative;
      top: 0.3rem;
      height: 2rem;
      cursor: pointer;
    }
  }
  .hamBurger {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navigation-bar {
    min-height: 8vh;
    padding: 1rem;
    .navMenu {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 50vw;
      right: 0;
      top: 3.7rem;
      background: #282828;
      z-index: 100;
      transition: 0.5s ease;

      .gradeCount {
        display: block;
      }
      li {
        padding: 0.5rem;
        font-size: 1rem;
        color: white;
      }
    }
    .active {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 50vw;
      right: -50vw;
      top: 3.7rem;
      background: #282828;
      z-index: 10;
      transition: 0.5s ease;
    }
    .cgpa101Logo {
      svg {
        top: 0.3rem;
        height: 1.5rem;
      }
    }

    .hamBurger {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 1.5rem;
      cursor: pointer;
      transition: 1s ease;
      p {
        width: 35px;
        background-color: white;
        border: 2px solid white;
        border-radius: 5px;
        margin-top: 5px;
        transition: 1s ease;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .navigation-bar {
    padding: 0.8rem;
    a {
    }
    ul {
    }
    li {
      padding: 0.3rem;
      font-size: 0.85rem;
    }
    h1 {
      font-size: 1.3rem;
    }
  }
}
